# Config file for the GUI Skin (CImageGUISkin)
#
# Source border is the border width (in pixels) on the texture.
# Dest border is the border width on the screen (also in pixels).
#
# .Texture = filename
# .SrcBorder = top,left,bottom,right
# .DstBorder = top,left,bottom,right

Button.Texture = buttonMAC.png
Button.SrcBorder=6,6,6,6
Button.DstBorder=6,6,6,6

ButtonPressed.Texture = buttonMAC_pressed.png
ButtonPressed.SrcBorder=6,6,6,6
ButtonPressed.DstBorder=6,6,6,6
#ButtonPressed.Color=255,196,196,196

SunkenPane.Texture = sunkenpanes.png
SunkenPane.SrcBorder=14,14,2,14
SunkenPane.DstBorder=14,14,2,14
#SunkenPane.SrcBorder=32,32,32,32
#SunkenPane.DstBorder=10,10,10,10


Window.Texture = windowsMAC.png
Window.SrcBorder=22,4,16,15
Window.DstBorder=22,4,16,15 


ProgressBar.Texture = gaugemac.png
ProgressBar.SrcBorder=4,4,4,4
ProgressBar.DstBorder=4,4,4,4

ProgressBarFilled.Texture = gaugemac2.png
ProgressBarFilled.SrcBorder=4,4,4,4
ProgressBarFilled.DstBorder=4,4,4,4

