Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles
*.*~
/libPeakEngine.so
install_manifest.txt
/plugins/graphics/libPeakGraphics.so
/plugins/physics/libPeakPhysics.so
/docs/doxygen
/lib
/obj
/build/PeakEngine.ncb
/build/PeakEngine.suo
/build/*.user